# будут игнорироваться все файлы и каталоги Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
Thumbs.db
# будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится
tmp/
# будут игнорироваться все файлы и каталоги с расширением .txt
# вне зависимости от того, в каком каталоге они находятся
*.txt
# будут игнорироваться все файлы, заканчивающиеся суффиксами _old, _backup
*_old*
*_backup*